body {
  margin: 0;
  font-family: 'Aribau Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.test {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
}